mixin fab
    .fixed-action-btn
        a(href="mailto:"
        + site.data.global.info.email).btn-floating.btn-large.waves-effect.waves-light.red
            i.material-icons email

mixin navbar
    nav(role="navigation").transparent.z-depth-0
        .nav-wrapper.container
            a(href="#").brand-logo#logo-container Fabian Shallari
            a(href="#", data-activates="nav-slide").button-collapse
                i#hamburger-menu.material-icons menu
            ul.right.hide-on-med-and-down
                li: a(href="#").waves-effect.waves-light.uppercase Work
                    i.material-icons.md-18.left.md-light code
                li: a(href="#").waves-effect.waves-light.uppercase Blog
                    i.material-icons.left.md-light mode_edit
                li: a(href="#").waves-effect.waves-light.uppercase About
                    i.material-icons.left.md-light person
                li: a(href="#Contact", data-scroll).waves-effect.waves-light.uppercase Contact
                    i.material-icons.left.md-light email
            ul#nav-slide.side-nav
                li: a(href="#").waves-effect.waves-teal.uppercase Work
                    i.material-icons.left.md-light code
                li: a(href="#").waves-effect.waves-teal.uppercase Blog
                    i.material-icons.left.md-light mode_edit
                li: a(href="#").waves-effect.waves-teal.uppercase About
                    i.material-icons.left.md-light person
                li: a(href="#Contact", data-scroll, data-close-sidenav).waves-effect.waves-teal.uppercase Contact
                    i.material-icons.left.md-light email

mixin cover
    #home-cover.section.full-height
        +navbar
        .container.white-text
            .vcenter-wrapper.full-width
                .vcenter
                    br
                    .row
                        .col.s12.m10.l6
                            .font-light.level-1
                                | Hello! I am Fabian, a freelance Software Engineer focusing on Android,
                                | based in Tirana, Albania
                    br
                    .row
                        .col.s12.m10.l6
                            .font-light.level-1
                                | Currently looking for interesting and challenging work.
                                | View some of my selected work below
                    br
                    .row
                        .col
                            .small-section
                                a(href="#"
                                + site.data.index.projects[0].title, data-scroll).waves-effect.waves-red.white.black-text.btn.btn-medium.rounded Browse Work
                                    i.small.material-icons.left flash_on
                        .col
                            .small-section
                                a(href="#").waves-effect.waves-light.btn.btn-medium.rounded.red-resume Download Resume
                                    i.small.material-icons.left cloud_download

mixin contact
    .section.contact-bg.full-height(id='Contact')
        .container.white-text.table.vcenter-wrapper
            .vcenter
                .row
                    .col.s12.l6.vcenter-wrapper.contact-wrapper
                        .vcenter.font-light
                            .android-icon
                                i.material-icons android
                            .level-1.font-light Do you like what you see ?
                            br
                            .level-1.font-light Lets make an app together.
                            br
                            br
                            .level-1.font-light Send me a note to:
                            br
                            a.mail-link.level-1(href="mailto:"
                            + site.data.global.info.email) #{site.data.global.info.email}

mixin project_showcase(project)
    div(class="section full-height " + project.bg, id=project.title)
        .container.white-text.table.vcenter-wrapper
            .vcenter.center-on-med-and-down
                .row
                    .col.s12.l6.vcenter-wrapper
                        .vcenter.center-on-med-and-down
                            .level-1 #{project.title}
                            .font-medium.level-3 #{project.subtitle}
                            .hide-on-small-and-down
                                br
                            .hide-on-med-and-down
                                br
                            br
                            .level-3.justify #{project.body}
                            br
                            .hide-on-med-and-down
                                .small-section
                            .section
                                if project.buttons.playStoreLink
                                    a(href=project.buttons.playStoreLink, target='_blank').waves-effect.waves-green.btn.btn-medium.rounded.white.green-text.text-lighten-1
                                        | View on Play Store
                                        i.small.material-icons.left play_arrow
                    .col.s12.l6.vcenter-wrapper
                        br
                        .vcenter
                            .marvel-device.nexus5.device
                                .top-bar
                                .sleep
                                .volume
                                .camera
                                .screen
                                    .carousel.carousel-slider
                                        each image in project.images
                                            a.carousel-item: img(src="/images/screenshots/" + image)
                    .col.s12
                        .section
                    .col.s12.center-on-med-and-down
                        a(href="#"
                        + project.next, data-scroll).waves-effect.waves-light.btn-flat.btn-medium.white-text.rounded Next Project
                            i.small.material-icons.left keyboard_arrow_down

